<h1>New Category</h1>
<%= link_to '<', user_groups_path([:user_id])%>

<% if can? :manage, Group %>
  <%= form_with model: @group, url: user_groups_path, method: :post, local: true, scope: group do |f| %>
    <%= f.text_field :name, placeholder:'Group Name' %>
    <%= f.text_field :icon, placeholder:'Image URL' %>
    <%= f.submit 'Save' %>
  <% end %>
<% end %>