<h1>Transactions</h1>
<%= link_to '<', user_groups_path([:user_id])%>

<%= @sum %>

<% @payments.each do |payment| %>
  <div>
    <%= payment.name %>
    <%= payment.amount%>
  </div>
<% end %>

<%= link_to 'Add Transaction', new_user_group_payment_path%>
