<div class= "header">
  <h2>Transactions</h2>
  <%= link_to '<', user_groups_path([:user_id]), class: 'back' %>
</div>

<div class='total'>
  <p>Total spending</p>
  $<%= @sum %>
</div>

<div class='transaction-cards'>
  <% @payments.each do |payment| %>
    <div class='card'>
      <h3><%= payment.name %></h3>
      $<%= payment.amount%>
    </div>
  <% end %>
</div>

<div class='add-container'>
  <%= link_to 'Add Transaction', new_user_group_payment_path, class: 'add' %>
</div>
